
.hero__content h2{
    font-weight: 600;
    line-height: 55px;
}
.hero__content{
    padding-top: 140px;
}
img{
    padding-top: 80px;
    height: 500px;
    border-radius: 20px;

}

.search input{
    border: none;
    outline: none;
    padding: 7px 10%;

}

.search{
    width: 60%;
    border: 1px solid aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    margin-top: 20px;
}
.search button{
    background-color: aqua;
    border-radius: 50px;
}
.search button:hover{
    background-color: rgb(144, 191, 235);
}